@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    
    
}
.container{
    height: 600px;
    width: 1100px;
    margin: 20px 120px;
    display: flex;
}
.left{
    
    width: 550px;
    height:580px;
    background-color: aliceblue;
    
}
.right{
    border: 1px solid black;
    width: 550px;
    height:580px;
}
.right.img{
    height: 580px;
    width:550px;
}
.blue-color{
    color: rgb(3, 58, 209);
    background-color: aliceblue;
    font-size: 35px;


}
#back{
    background:url("/static/image/strong1.9e7b49df005c.jpg");
}
h2{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    background-color: aliceblue;
}
.leftcont{
    height: 450px;
    margin:50px 80px;
    background-color:aliceblue;
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 40px;
}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    margin-top: 15px;
    background-color:aliceblue;
    color: grey;
}
form{
    background-color: aliceblue;
    margin-top: 30px;
}
label{
    font-family:'Rubik', sans-serif ;
    background-color: aliceblue;
    font-size: 15px;
}
input{
    border-radius: 20px;
    padding: 10px;
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    font-family: 'Rubik', sans-serif;
}
#check{
    margin-left: -120px;
}
#rem{
    margin-left: -127px;
    font-size: 15px;
}
#pass{
    background-color: aliceblue;
    margin-left: 50px;
}
button{
    margin-top: 10px;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    background-color:rgb(3, 58, 209) ;
    font-size: 20px;
    font-family:'Rubik', sans-serif ;
    color: aliceblue;
}
h5{
    margin-top: 20px;
    font-family: 'Rubik', sans-serif ;
    background-color: aliceblue;
}
h5 a{
    margin-left: 10px;
    background-color: aliceblue;
}
#rtext{
    font-family: 'Rubik', sans-serif ;
    color: white;
    font-size: 25px;
    height: 67px;
    width: 220px;
    position: relative;
    margin-left: 10px;
    left: 180px;
    top:460px;
    background: rgba(76, 175, 80, 0)
}
#rtext span{
    margin-left: 30px;
}
#INSTA{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    left:80px;
}
#MESS{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top:100px;
}
#TWI{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    left: 80px;
    top: 160px;
}
#imgg{
    position: absolute;
    height: 200px;
    width: 140px;
    left: 920px;
    top: 230px;
}
h6{
    font-family: 'Rubik', sans-serif ;
    color: whitesmoke;
    font-size: 10px;
    height:30px;
    width: 250px;
    position: relative;
    top:420px;
    left:180px;
}
h6 span{
    margin-left: 50px;
}