{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Campony</title>
    <link rel="stylesheet" href="{% static 'stylee7.css' %}">
</head>
<body>
    <div class="container">
        <h2>WELCOME TO TechDomain</h2>
        <div class="b1">
           <i class="fa-solid fa-lock border v2"></i>
           <button class="signup"><a href=" https://web-production-857a.up.railway.app/signUp">SIGNIN</a></button>
        </div>
        <div class="b2">
            <i class="fa-sharp fa-solid fa-person border v2"></i>
            <button class="login"><a href="https://web-production-857a.up.railway.app/signIn">LOGIN</a></button>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/2028586b4a.js" crossorigin="anonymous"></script>
</body>
</html>