{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="{% static 'stylee.css' %}" >
</head>
<body>
<div class="head"><h2>Welcome to Employee Management System</h2></div>
<div class="conatiner">
    <button><a href="/ALLDetailsAPI" target="_blank">View API View</a></button>
    <button><a href="/ViewallEmployee" target="_blank">View Employee detail</a></button>
    <button><a href="/addAnEmploye" target="_blank">Add Employee detail</a></button>
    <button><a href="/EditAnEmploye" target="_blank">Edit Employee details</a></button>
    <button><a href="/removeAnEmployee" target="_blank">Delete an Employe detail</a></button>
</div>
</body>
</html>