*{
    margin:0;
    padding: 0;
}
.head{
    height:100px;
    text-align: center;
    background-color: antiquewhite;}
h2{
    position: relative;
    top:10px;
    font-size: 50px;
    font-weight: 500;
    color: crimson;}
.container{
        margin-top: 50px;
        height: 1000px;
        width: 1000px;
        border: 1px solid black;
    }
.h{
        height:50px;
        width:auto;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

#dam{
    height:50px;
    width:100px;
    font-size: 20px;
}
.filter{
    width: 500px;
    margin-left: 400px;
}
.damit{
    margin-left:180px;
}